## Data filtering

this notebook is used to finalize the cleaning of the eboss and manga datasets. This is sseen in the Modeling.py file.

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# eBoss

In [19]:
# Read in data.
raw_data_eBoss = pd.read_csv("../../Data/Astronomy.csv")

# Getting rid of the id column
trainable_data = raw_data_eBoss.iloc[:, 1:].copy(deep=True)

# Seperating X, and Y values.
X = trainable_data.iloc[:, :-1].copy(deep=True)
Y = trainable_data.iloc[:, -1:].copy(deep=True)

# Filling nan values with 0.
X = X.apply(pd.to_numeric, args={'errors': 'coerce'})
X = X.fillna('0')

# Mapping string labels to numeric values.
Y = Y.Hits.map({'bad': 0, 'good': 1})

In [20]:
eboss_cols = set(X.columns)

In [21]:
# All the fails
X[X.columns[X.columns.str.contains('FAIL')]].head()

,G_FAIL_data0,G_FAIL_data1,G_FAIL_data2,G_FAIL_data3,G_FAIL_data4,G_FAIL_data5,G_FAIL_data6,G_FAIL_data7,G_FAIL_data8,G_FAIL_data9,G_FAIL_data10,G_FAIL_data11
0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,1,1,1,1,0
4,0,0,0,0,0,0,0,0,0,0,0,0

# Manga

In [22]:
# Get raw managa data.
raw_data_Manga = pd.read_csv("../../Data/Astronomy20000_Original.csv")

# seperate X and Y values.
X = raw_data_Manga.iloc[:, 1:-1].copy(deep=True)
Y = raw_data_Manga.iloc[:, [-1]].copy(deep=True)

# Taking away the always constant emission value locations.
X = X.iloc[:, np.r_[2:14, 26:len(X.columns)]].copy(deep=True)

# Filling in the null values with 0.
X = X.fillna('0')

# Mapping string labels to numeric labels.
Y = Y.Hits.map({'bad': 0, 'good': 1})

In [23]:
manga_cols = set(X.columns)

In [24]:
len(manga_cols), len(eboss_cols)

(108, 96)

# Still some differences in the amout of columns

In [27]:
manga_cols.difference(eboss_cols)

{'HIT_PAR1_data0',
 'HIT_PAR1_data1',
 'HIT_PAR1_data10',
 'HIT_PAR1_data11',
 'HIT_PAR1_data2',
 'HIT_PAR1_data3',
 'HIT_PAR1_data4',
 'HIT_PAR1_data5',
 'HIT_PAR1_data6',
 'HIT_PAR1_data7',
 'HIT_PAR1_data8',
 'HIT_PAR1_data9'}

In [29]:
X[list(manga_cols.difference(eboss_cols))].head()

,HIT_PAR1_data0,HIT_PAR1_data9,HIT_PAR1_data11,HIT_PAR1_data10,HIT_PAR1_data6,HIT_PAR1_data3,HIT_PAR1_data5,HIT_PAR1_data4,HIT_PAR1_data8,HIT_PAR1_data1,HIT_PAR1_data2,HIT_PAR1_data7
0,8644.11,0,8647.05,0,0,0,0,0,0,9516.08,10070.2,0
1,7264.64,0,7266.47,0,0,9478.55,9760.23,9665.61,0,7994.02,8455.99,0
2,9321.63,0,9327.68,0,0,0,0,0,0,10260.1,0,0
3,9701.61,0,9705.77,0,0,0,0,0,0,0,0,0
4,8784.57,0,8790.57,0,0,0,0,0,0,9670.45,10240.5,0